
.btn-default{
  display:flex;
}
.row {
  cursor: pointer;
  display : flex;
  border-bottom-width: 1px;
  border-bottom-color:gray;
  border-bottom-style:solid;
}

.row div{
  margin-right: 1em;
}

.kind {
  color: #990000;
}


.tags{
  color: gray;
  font-size: 0.9em;
}

.date-grid {
  color: gray;
  font-size: 0.7em;
}

.row a{
  width:100%; 
  height:100%;
  text-decoration:none;
  color: inherit;
}

.selected{
  
  background-color:#990000;
}

.selected a{
  color: #FFFFFF;
}

.main {
    padding-left: 20px;
}

.display {
  text-align:center;
}

.form{
  background-color:#990000;
}

.form-control{
  display : flex;
}

.field {
  margin-right : 1em;
  margin-top : 1em;  
  margin-bottom : 1em;  
  margin-left: 1em;
  width: 90%;
  padding: 3px 3px;
}
.date{
  margin-right : 1em;
  margin-top : 1em;  
  margin-bottom : 1em;  
  margin-left: 1em;
  width: 90%;
  
}

.date-input{
  width: 100%;
  padding: 3px 3px;
}

.input-group-addon, .input-group-btn{
  width:initial;
}

.display-class{
  margin:0 auto;
  margin-bottom : 1em;  
  margin-left: 1em;
  color:white;
}
.button-container{
  margin-right : 1em;
  margin-top : 1em;  
  display:inline-flex;
  margin-bottom : 1em;  
  margin-left: 1em;
}

.button{
  margin-right: 1em;
  
  
}